{% extends 'base.html' %}

{% load static %}

{% block path_css%}{% static './pages/index.css' %}{% endblock %}
{% block title %}Технологии{% endblock %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">
            Технологии
            <br>Данный проект написан на Django 3. Для связи с front-end используется rest-fraemwork. Для всего остального используются инструменты из коробки Django.
        </p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>  
{% endblock %}