{% extends 'base.html' %}
{% load static %}

{% block path_css %}{% static '/pages/index.css' %}{% endblock %}
{% block title %}Проверьте почту{% endblock %}

{% block content %}
    <form action='{% url 'index' %}'>
        <div class="custom-center-block">
                <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
            <div class="custom-button-block">
                <button class="button button_style_blue">Перейти на главную</button>
            </div>
        </div>
    </form>
{% endblock %}
