{% extends 'base.html' %}
{% load user_filters %}
{% load static %}

{% block path_css %}{% static '/pages/form.css' %}{% endblock %}
{% block title %}Регистрация{% endblock %}

{% block header %}<h1 class="main__title">Регистрация</h1>{% endblock %}

{% block content %}
    {% for error in form.errors %}
    <div class='form__error'>
        <span class="form__error">
            {{ error }}
        </span>
    </div>
    {% endfor %}
    <div class="form-container">  
        <form method="post" class="form" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    {{ field|addclass:'form__input' }}
                    {% if field.errors%}
                        {% for error in field.errors %}
                            <span class="form__error">
                                {{ error }}
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>
    </div>
{% endblock %}
